.c-form__btn {
  width: 180px;
  margin: 0 auto;
  border: solid 1px $main-color;
  background: $bg-color;
  color: $main-color;
  display: block;

  &:hover {
    background: $main-color;
    color: $reset-color;
    transition: all 0.6s ease;
  }
}

.c-result__btn {
  width: 300px;
  margin: 0 auto;
  border: solid 1px $main-color;
  background: $bg-color;
  color: $main-color;
  display: block;

  &:hover {
    background: $main-color;
    color: $reset-color;
    transition: all 0.6s ease;
  }
}

.c-answer__btn {
  width: 300px;
  @include mq-down(lg) {
    width: 240px;
  }
  @include mq-down(md) {
    width: 180px;
  }
  margin: 0 auto;
  display: block;
  font-size: $font-size_xl;

  &--a {
      border: solid 1px $answer_a-color;
      background: $bg-color;
      color: $answer_a-color;

        &:hover {
          background: $answer_a-color;
          color: $reset-color;
          transition: all 0.6s ease;
        }
  }

  &--b {
      border: solid 1px $answer_b-color;
      background: $bg-color;
      color: $answer_b-color;

        &:hover {
          background: $answer_b-color;
          color: $reset-color;
          transition: all 0.6s ease;
        }
  }
}

.c-comment__btn {
    width: 100px;
    margin-left: $space_s;
    border: solid 1px $main-color;
    background: $bg-color;
    color: $main-color;
    display: block;

    &:hover {
        background: $main-color;
        color: $reset-color;
        transition: all 0.6s ease;
    }
}

.c-contact__btn {
    margin: 0 auto;
    border: solid 1px $main-color;
    background: $bg-color;
    color: $main-color;
    display: block;

    &:hover {
        background: $main-color;
        color: $reset-color;
        transition: all 0.6s ease;
    }
}

.c-btn--down {
    margin-top: $space_l
}

.c-provider__btn {
    width: 180px;
    margin: 0 auto;
    border: solid 1px $danger-color;
    background: $danger-color;
    color: $reset-color;
    display: block;

    &:hover {
        color: $reset-color;
        opacity: 0.8;
        transition: all 0.6s ease;
    }
}