.c-btn__area {
  width: 100%;
  margin-top: $space_l;
}

.c-form__btn {
  width: 100px;
  margin: 0 auto;
  border: solid 1px $main-color;
  background: $bg-color;
  color: $main-color;
  display: block;

  &:hover {
    background: $main-color;
    color: $reset-color;
    transition: all 0.5s ease;
  }
}