.c-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.c-theme__answer__img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: $space_l;
  margin-bottom: $space_m;
  display: block;
}