.c-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.c-post__avatar {
    width: 32px;
    height: 32px;
    border-radius: 20px;
}

.c-answer__img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: $space_xxl;
  margin-bottom: $space_m;
  display: block;
  @include mq-down(lg) {
    width: 160px;
    height: 160px;
    margin-top: $space_xl;
    margin-bottom: $space_s;
  }
  @include mq-down(md) {
    width: 120px;
    height: 120px;
  }
}

.c-list__answer__img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: $space_m;
  margin-bottom: $space_s;
  display: block;
}

.c-prev__img {
  width: 198px;
  height: 198px;
  @include mq-down(lg) {
    width: 180px;
    height: 180px;
  }
  position: absolute;
  top: 0;
  left: 0;
}