.c-form__text {
  height: 40px;
  width: 100%;
  padding: $space_s;
  border: solid 1px $line-color;
  border-radius: 0.25rem;
}

.c-form__number {
  width: 100px;
  padding-left: $space_s;
  border: solid 1px $line-color;

   &__text {
     padding-left: $space_s;
     display: flex;
     align-items: center;
   }
}

.c-form__remember__label {
  padding-left: $space_s / 2;
  margin-bottom: 0px;
}

.c-form__pic {
  display: none;
}

.c-area__drop__text {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 0%;
}

.c-form__search__box {
  height: 48px;
  width: 80%;
  padding-left: $space_m;
  border-radius: 2px;
  outline: 0;
  background: $reset-color;	
}
.c-form__search__btn {
  height: 48px;
  width: 40px;
  position: relative;
  right: 20px;
  background: $reset-color;
  color: $item-color;
  border: none;
  font-size: $font-size_l;

  &:hover {
    color: $accent-color;
  }
}

.c-password__disabled {
 background: #e9ecef;
}

.password {
  transition: border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
}

.invalid__feedback {
  width: 100%;
  margin-top: $space_s;
  margin-bottom: $space_s;
  display: flex;
  justify-content: flex-end;
  font-size: 80%;
  color: #dc3545;
}