.c-post__theme__link {
  &:hover {
    color: $default-color;
  }
}

.c-answer__theme__link {
  &:hover {
      color: $default-color;
  }
}

.c-guest__link {
  &:hover {
    color: $reset-color;
  }
}

.c-tag__link {
  &:hover {
    color: $default-color;
    opacity: 0.8;
  }
}

.c-theme__link {
  &:hover {
      color: $default-color;
      opacity: 0.8;
  }
}
.c-theme__edit__link {
  margin-right: $space_m;
}

.c-theme__result__link {
  &:hover {
      color: $reset-color;
  }
}

.c-user__link {
    &:hover {
        color: $default-color;
    }
}