.c-theme__note--guide {
  width: 100%;
  margin-bottom: $space_l;
  text-align: center;
}

.c-theme__note--or {
  font-size: $font-size_xl;
  display: flex;
  align-items: center;
}

.c-count__number {
  min-width: 64px;
  padding-left: $space_s;
}

.c-comment__note {
  height: 398px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}