.c-answer__count {
  width: 100%;
  text-align: center;

  &--total {
    margin-top: $space_m;
    font-size: $font-size_l;
  }

  &--a {
    color: $answer_a-color;
    font-size: $font-size_xl;
  }

  &--b {
      color: $answer_b-color;
      font-size: $font-size_xl;
  }
}

.c-theme__note--guide {
    width: 100%;
    margin-bottom: $space_l;
    text-align: center;
}

.c-theme__note--or {
  font-size: $font-size_xl;
  display: flex;
  align-items: center;
}

.c-count__number {
  padding-left: $space_s;
}

.c-comment__note {
  height: 398px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-form__note {
  margin-bottom: $space_l;
}