.c-post__info {
}

.c-post__comment__user__img {
  text-align: center;
}

.c-post__comment__user__info {
  min-width: 56px;
  padding-top: $space_s / 2;
}

.c-post__comment__date {
  display: flex;
  justify-content: flex-end;
}