.c-comment__text {
    position: relative;
    display: inline-block;
    margin-left: $space_l;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: $reset-color;
    border-radius: 10px;
    box-sizing: border-box;
}

.c-comment__text:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid $reset-color;
    z-index: 2;
}

.c-comment__text:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    z-index: 1;
}

.c-comment__text--a {
    border: solid 3px $answer_a-color;

    &:after {
      border-right: 14px solid $answer_a-color;
    }
}

.c-comment__text--b {
    border: solid 2px $answer_b-color;

        &:after {
            border-right: 14px solid $answer_b-color;
        }
}

.c-comment__text p {
    margin: 0;
    padding: 0;
}

.c-comment__writing__text {
  padding-top: $space_l / 4;
  margin-right: $space_m;
}

.c-count__text {
  display: flex;
  justify-content: flex-end;
}

.c-email__text {
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.c-login__option {
  display: flex;
  justify-content: flex-end;

  &:hover {
    color: $default-color;
    opacity: 0.8;
  }
}

.c-sent__text {
  height: 150x;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $reset-color;
}