.c-comment__textarea {
  height: 38px;
  min-width: 300px;
  width: 600px;
  padding: $space_s;
  background: $reset-color;
  border: solid 1px $line-color;
}

.c-contact__textarea {
    height: 120px;
    width: 100%;
    padding: $space_s;
    border: solid 1px $line-color;
    border-radius: 0.25rem;
    font: initial;
}