.c-form__title {
  height: 48px;
  padding-left: $space_l;
  color: $reset-color;
  background: $main-color;
  display: flex;
  align-items: center;
  font-size: $font-size_l;
}

.c-main__title__text {
  padding-left: $space_s;
  margin-bottom: $space_m;
  border-left: solid 5px $main-color;
  font-size: $font-size_l;
}

.c-theme__title {
  width: 100%;
  margin-bottom: $space_m;
  text-align: center;
  font-size: $font-size_xl;
}

.c-answer__title {
  text-align: center;
  font-size: $font-size_xl;
}

.c-theme__one__title {
  margin-bottom: $space_m;
  font-size: $font-size_l;
  text-align: center;
}

.c-list__answer__title {
  text-align: center;
}

.c-answer {
  &--a {
    color: $answer_a-color;
  }
  &--b {
    color: $answer_b-color;
  }
}

.c-post__theme__head {
  height: 48px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-answer__theme__head {
  height: 48px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-theme__head--yet {
  color: $main-color;

    &:hover {
        color: $main-color;
    }
}

.c-theme__head--select {
  background: $main-color;
  color: $reset-color;

  &:hover {
    color: $reset-color;
  }
}

.c-bookmark__head {
  height: 48px;
  width: 100%;
  padding-left: $space_l;
  color: $reset-color;
  display: flex;
  justify-content: start;
  align-items: center;
}

.c-form__one__title {
  width: 40%;
}