.p-jumbotron {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  position: relative;

  &__inner {
      position: absolute;
      top: 35%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin:0;
      padding:0;
  }
}

.c-jumbotron__text {
  margin-bottom: $space_xl * 2;
  text-align: center;
  color: $main-color;
  font-size: $font-size_xxl;
  font-family: 'Work Sans',sans-serif;
}

.c-jumbotron__note {
  text-align: center;
  font-size: $font-size_m;
  font-weight: normal;
}

.c-jumbotron__img {
  height: 684px;
  width: 100%;
}

