.p-theme__answer {
    width: 100%;
    display: flex;

    &--index {
      margin-bottom: $space_m;
        justify-content: space-between;
    }

    &--which,
    &--result {
      justify-content: space-between;
      padding-right: $space_l;
      padding-left: $space_l;
      margin-bottom: $space_xl * 2;
    }

    &--show,
    &--answer,
    &--bookmark {
      margin-bottom: $space_m;
      justify-content: space-around;
    }

    &:hover {
      color: $default-color;
    }
}