.p-top__body__section {
  margin-bottom: $space_xxl * 2;
}

.p-top__list__one {
  margin-bottom: $space_l * 2;
  display: flex;
  justify-content: space-between;
}

.p-purpose {
  margin-top: $space_xxl;
}